*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}


body{
	font-family: 'Poppins', sans-serif;
}

header{ /*Es la clase header que contiene la imagen Portada*/
	height: 15%; /*Específica la altura del elemento*/
	background-image: linear-gradient(to top, rgba(117, 209, 230, 0.1) 0%, rgba(117, 209, 230, 0.1)100%), url(../IMG/Portada.jpg); /*Establece la imagen de fondo*/
	background-repeat: no-repeat; /*Define como se repiten los fondos*/
	background-size: cover; /*tamaño de las imagenes de fondo: "cover" escala la imagen al máximo sin deformarla  */
	background-attachment: fixed; /*Indica si la posición de la imagen será fija o se desplazara con el bloque contenedor*/
	background-position: 15% 20%; /*Define la posicion de la imagen inicial*/ 
	/* position: relative; */
	/*  */

}


#Contenido{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* z-index: 1; */
}

#inicio{
/* z-index: 2; */
}

#Col1{
	width:75%;
	margin-top:5%;
	padding-left:10% ;
	/* background-color:#ffff55; */
}

#Col2{
	margin: 5% 0px 0px 0px; /* Modifique el formato de margen por si se necesitan hacer cambios diferentes de este*/
	width: 25%;
	padding-right: 0%; /* Disminui de 5 a 0*/
	padding-left: 1%; 
	/* background-color:#ffffbb; */
	border-left: solid 1px rgb(0,0,0);
}

/* agrego margen */
#Col2 h3{
	margin: 0px 10px 6px 0px;
}

/* Linea debajo de titulo*/
#Col2 .DatosBarra{
	width: 76%;
    height: 3px;
    background: rgb(26 32 44);
    margin: 5px 0px;
}

.barra-titulo{ 
	margin-top: 10%;
	height: 50px;
	background: #1A202C;
	width: 100%;
	overflow: hidden;
	color: #fff;

}

.contenedor{
	margin-top: 1%;
	margin-left: 10%; 
	width: 80%;
	/* background: green; */

}

.titulo{
	font-size: 20px;
	color: rgba(225, 225, 225, 1);
	text-shadow:  1px 1px 2px black;
	margin: 0 auto auto 5% ;
}

.menu_desplegable{
	/* top:25%;  */
	height: 5%;
	background-color: #1A202C; 
	color: #fff;
	width: 100%;
/* position: fixed; */
}
.menu_contenido{
	display: flex;
	justify-content:space-between;
	align-items:center;
	width:90%;
	max-width:85%;
	height: 100%; 
	margin: 0 auto;
}

.menu_item--show{
	background-color: var(--background);
}

.menu_links{
	height: 100%;
	transition: transfrom .5s; /*Es para animar la salida de elementos*/ 
	display: flex; /* Para que los elementos se distribuyan de forma fluida: uno al lado del otro con sus items*/
	float: left;
	z-index: 1;
}

.menu_link{
	color: rgba(164, 198, 237, 0.96);
	text-decoration: none;
	padding: 0 20px;
	display:flex;
	height: 90%;
	align-items:center;
}

.menu_link:hover{ /*Al pasar el mouse sobre él: hover es una pseudo clase, funciona cuando el usuario interactua con el elemento x medio del mouse*/
	background-color: rgba(0, 55, 117, 1);
}

.menu_item{
	list-style: none; /*Para establecer el estilo de lista*/
	position: relative; /*A diefrencia de relative este toma como referencia su posición predeterminada*/
	height: 100%;
	--clip: polygon(0 0, 100% 0, 100% 0, 0 0); /*custom properti (--*nombre) sacada de clippy  : Oculta*/
	--transform: rotate(-90deg); /*Para que gire de 90 a 0*/
}

.menu_item:hover{ /*Hago que la custom cambie de ocultar a mostrar*/ 
	--clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /*Muestra el elemeto*/ 
	--transform: rotate(0); /*Defino otra clippy*/
}

.menu_arrow{
	transform: var(--transform); /*Permite manipular: rotar, escalar o trasladar: var() permite insertar el valor de a custom property*/
	transition: transform .3s; /*trancisión entre dos estados */
	display:block; /*Con saltos de línea antes y después del elemento*/
	margin-left:3px;
}

.menu_nesting{
	list-style: none;
	transition: clip-path .3s; /*Esto permite que funcione el menu desplegable*/
	position:absolute;
	clip-path: var(--clip); /*clip-path limita una región usando el clippy anterior aquí*/ 
	left: 0;
	bottom: 0;
	width: max-content; /*Acomodar el texto en la caja*/
	transform: translateY(100%); /*Despliega el menú hacia abajo*/
	background: #000; 
}

.menu_link--inside{
	padding: 20px 10px 10px 10px; /*establece como rellenar un bloque con el elemento*/
}

.menu_link--inside:hover{
	background-color: #798499;
}

.Presentacion{
	align-items:center;
	justify-content:space-between;
}


.video{
	padding: 0 5% 5% 5%;	
	/* background: yellow; */
	justify-content:center ;
	align-items: center;
}

.descripcion{
	height:100%; 
	width: 100%;
	font-size: 1em;
	text-align: justify;
	padding-top: 30px;
	/* background: green; */
}

.Miembros{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center ;
	align-items: center;
}

.MiembrosI{
		/* background: green; */
		padding-bottom: 5%;	
		list-style-type: none;
		font-size: 20px
}

.MiembrosII{
		/* background: blue; */
		margin-left: 20%;
		padding-bottom: 5%;
		float: right;
		list-style-type: none;
		font-size: 20px

}

.Galeria{
	background: #f2f2f2;
}

.contenedor-galeria{
	display: flex;
	justify-content:space-evenly;
	flex-wrap: wrap;
}

.img-galeria{
	width: 30%;
	display: block;
	margin-bottom: 15px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
	cursor: pointer; 
}

.Anuncios li{
	list-style-type: none;
	margin-top:10px;
}
.subtema li{
	list-style-type: circle;
	margin-left: 30px;
}


footer{ /*le damos color al pie de página*/
	background: #fff; /*fondo*/
	padding-bottom: 0.1px;
}

.footer-content{ /*estilo para el pie de página*/
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap;
	padding-top: 60px;
	padding-bottom: 40px;
	padding-left: 10%;	
	padding-right: 10%;	
}

.Informacion{
	width: 70%;
	color: #000;
}

.Datos{
	font-weight: 300;
	/* background: green; */
	justify-content: center;
}

.Datos+p{
	font-weight:300;
}


.Redes{
	width:30%;
	display:flex;
	justify-content:flex-end;
}

.Redes-icon{
	display: inline-block;
	margin-left: 20px;
	width: 60px;
	height:60px;
	border-radius: 50%;
	text-align:center;
	color: #000;
}

.Redes-icon:hover{
	background: DodgerBlue;
	color: #000;
}

.Redes-icon i{
	font-size: 30px;
	line-height: 60px;
}

.line{
	width: 90%;
	max-width:1200px;
	margin: 0 auto;
	height: 2px;
	background: #000;
	margin-bottom: 60px;
}

/* Esto corresponde al Problema 1*/

.PezIm{
	transform: scale(50%);
	padding: 5%; 
	/* background: green; */
}

.PezEsq{
	/*transform: scale(45%);
	/* overflow: scroll; */
	background: rgba(0,0,0,0);
	position: relative;
	top: 0px;
	left: 0px;

}

.PezEsq img{
		width: 75%; 	
}

.Ejimg{
	/* transform: scale(100%); */
	text-align:center;
	align-items: center;
	/* padding: 10px;  */
	/* background: green; */

}

.P1titulo{
	font-size: 25px;
	margin: 0 auto 0 1% ; 
	color: rgba(225, 225, 225, 1);
	text-shadow:  1px 1px 2px black;
	
}
.P1Sub{
	margin: 1% 0px 0px 0%;/* Disminui los margenes exteriores, estos eran los originales:  1% 0px 10px 10%*/
	padding-left: 10%; /* Border interno para mejorar el aspecto del titulo*/
	font-weight: 500;
	font-size: 25px;
	color: #33475b;
	text-shadow:  1px 1px 2px black;
	background: rgba(0,0,0,0);/* Le quito color de fondo */
}

.P1sub{
	margin: 1% 0 0 0%;
	padding-left: 11%;
	font-weight: 500;
	font-size:15px;
	color: #33475b;
	/*border-bottom: solid 2px rgba(0,0,0,1); /* Border de tipo linea para separar titulo del documento*/
}

.Planteamiento{
	margin: 0 5% 1% 10%;
	height:50% ; 
	font-size: 1em;
	text-align:justify;
	justify-content:space-between;
	padding: 20px;
	/* background: green; */

}

.ecuaciones{
	margin: 0 10% 0 10%;
	height:40px ; 
	font-size: 1em;
	text-align:justify;
	text-align:center;
}

/* Este apartado es para dale diseño a Galeria */

.galeria{
	justify-content: center;
	margin-left: 15%;
}

.galeria img{
	filter: grayscale(60%);
	padding: 5px;
	width: 230px;
	transition: 1s;
	
}

.galeria img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}

/* Este bloque es para darle diseño a "Articulos publicados" */
.caja{
	width: 100%;
	max-width: 1200px;
	min-height: 430px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}

.caja .card{
	width: 330px;
	height: 430px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
}

.caja .card:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.caja .card img{
	width: 330px;
	height: 220px;
}

.caja .card h4{
	font-weight: 600px;
	padding: 0 1rem;
}

.caja .card p{
	padding: 0 1rem;
	font-size:10px;
	font-weight: 300;
	
}
.caja .card a{
		font-weight: 500;
		text-decoration:none;
		color: #3498db;
	}

/*Este apartado es para Contactos */
.chip {
    display: inline-block;
    padding: 10px 30px;
    min-height: 150px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
	margin: 15px 10px;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.chip p{
	margin-left: 37px;
}


/* Carusel de principal*/

h4, h2,small,a{
    margin: 0;
    padding-right: 5px;
}
a{
    text-decoration: none;
}
.Carousel{
    width: 80%;
    margin: 20px 60px;
}
.Carousel h2{
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;

}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
}

.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
}

/* buttons */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}
